//! **************************************************************************
// Written by: Map P.58f on Thu Dec 11 13:58:51 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "aio_in<13>" LOCATE = SITE "P132" LEVEL 1;
COMP "aio_in<14>" LOCATE = SITE "P131" LEVEL 1;
COMP "cpld_load" LOCATE = SITE "P80" LEVEL 1;
COMP "cpld_mosi" LOCATE = SITE "P81" LEVEL 1;
COMP "cpld_rstn" LOCATE = SITE "P74" LEVEL 1;
COMP "aio_out<5>" LOCATE = SITE "P142" LEVEL 1;
COMP "aio_out<6>" LOCATE = SITE "P141" LEVEL 1;
COMP "aio_out<7>" LOCATE = SITE "P140" LEVEL 1;
COMP "aio_out<8>" LOCATE = SITE "P139" LEVEL 1;
COMP "aio_out<9>" LOCATE = SITE "P138" LEVEL 1;
COMP "cpld_clk" LOCATE = SITE "P78" LEVEL 1;
COMP "clk_in" LOCATE = SITE "P55" LEVEL 1;
COMP "aio_out<10>" LOCATE = SITE "P137" LEVEL 1;
COMP "aio_out<11>" LOCATE = SITE "P134" LEVEL 1;
COMP "aio_out<12>" LOCATE = SITE "P133" LEVEL 1;
TIMEGRP clk_in = BEL "renderer/CounterY_9" BEL "renderer/CounterY_8" BEL
        "renderer/CounterY_7" BEL "renderer/CounterY_6" BEL
        "renderer/CounterY_5" BEL "renderer/CounterY_4" BEL
        "renderer/CounterY_3" BEL "renderer/CounterY_2" BEL
        "renderer/CounterY_1" BEL "renderer/CounterY_0" BEL
        "renderer/c/cl/d1r_3" BEL "renderer/c/cl/d1r_2" BEL
        "renderer/c/cl/d1r_1" BEL "renderer/c/cl/d1r_0" BEL
        "renderer/c/cl/cnt_25" BEL "renderer/c/cl/cnt_24" BEL
        "renderer/c/cl/cnt_23" BEL "renderer/c/cl/cnt_22" BEL
        "renderer/c/cl/cnt_21" BEL "renderer/c/cl/cnt_20" BEL
        "renderer/c/cl/cnt_19" BEL "renderer/c/cl/cnt_18" BEL
        "renderer/c/cl/cnt_17" BEL "renderer/c/cl/cnt_16" BEL
        "renderer/c/cl/cnt_15" BEL "renderer/c/cl/cnt_14" BEL
        "renderer/c/cl/cnt_13" BEL "renderer/c/cl/cnt_12" BEL
        "renderer/c/cl/cnt_11" BEL "renderer/c/cl/cnt_10" BEL
        "renderer/c/cl/cnt_9" BEL "renderer/c/cl/cnt_8" BEL
        "renderer/c/cl/cnt_7" BEL "renderer/c/cl/cnt_6" BEL
        "renderer/c/cl/cnt_5" BEL "renderer/c/cl/cnt_4" BEL
        "renderer/c/cl/cnt_3" BEL "renderer/c/cl/cnt_2" BEL
        "renderer/c/cl/cnt_1" BEL "renderer/c/cl/cnt_0" BEL
        "renderer/c/cl/kbInt/keyShrReg__7" BEL
        "renderer/c/cl/kbInt/keyShrReg__6" BEL
        "renderer/c/cl/kbInt/keyShrReg__5" BEL
        "renderer/c/cl/kbInt/keyShrReg__4" BEL
        "renderer/c/cl/kbInt/keyShrReg__3" BEL
        "renderer/c/cl/kbInt/keyShrReg__2" BEL
        "renderer/c/cl/kbInt/keyShrReg__1" BEL
        "renderer/c/cl/kbInt/keyShrReg__0" BEL
        "renderer/c/cl/kbInt/clkKeyboardReg_1" BEL
        "renderer/c/cl/kbInt/clkKeyboardReg_0" BEL
        "renderer/c/cl/kbInt/keyShrReg_10" BEL
        "renderer/c/cl/kbInt/keyShrReg_9" BEL
        "renderer/c/cl/kbInt/keyShrReg_8" BEL
        "renderer/c/cl/kbInt/keyShrReg_7" BEL
        "renderer/c/cl/kbInt/keyShrReg_6" BEL
        "renderer/c/cl/kbInt/keyShrReg_5" BEL
        "renderer/c/cl/kbInt/keyShrReg_4" BEL
        "renderer/c/cl/kbInt/keyShrReg_3" BEL
        "renderer/c/cl/kbInt/keyShrReg_2" BEL
        "renderer/c/cl/kbInt/keyShrReg_1" BEL
        "renderer/c/cl/kbInt/keyShrReg_0" BEL "_i000001/cntr_15" BEL
        "_i000001/cntr_14" BEL "_i000001/cntr_13" BEL "_i000001/cntr_12" BEL
        "_i000001/cntr_11" BEL "_i000001/cntr_10" BEL "_i000001/cntr_9" BEL
        "_i000001/cntr_8" BEL "_i000001/cntr_7" BEL "_i000001/cntr_6" BEL
        "_i000001/cntr_5" BEL "_i000001/cntr_4" BEL "_i000001/seg_data_6" BEL
        "_i000001/seg_data_5" BEL "_i000001/seg_data_4" BEL
        "_i000001/seg_data_3" BEL "_i000001/seg_data_2" BEL
        "_i000001/seg_data_1" BEL "_i000001/seg_data_0" BEL
        "_i000001/mosi_shr_14" BEL "_i000001/mosi_shr_13" BEL
        "_i000001/mosi_shr_12" BEL "_i000001/mosi_shr_11" BEL
        "_i000001/mosi_shr_10" BEL "_i000001/mosi_shr_9" BEL
        "_i000001/mosi_shr_8" BEL "_i000001/mosi_shr_7" BEL
        "_i000001/mosi_shr_6" BEL "_i000001/mosi_shr_5" BEL
        "_i000001/mosi_shr_4" BEL "_i000001/mosi_shr_3" BEL
        "_i000001/mosi_shr_2" BEL "_i000001/mosi_shr_1" BEL
        "_i000001/mosi_shr_0" BEL "renderer/Hsync" BEL
        "renderer/c/d1m/color_out_0" BEL "renderer/c/d2m/color_out_0" BEL
        "renderer/c/d3m/color_out_0" BEL "renderer/c/d4m/color_out_0" BEL
        "renderer/c/d/color_out_0" BEL "renderer/Vsync" BEL
        "renderer/c/cl/d3r_3" BEL "renderer/c/cl/d3r_2" BEL
        "renderer/c/cl/d3r_1" BEL "renderer/c/cl/d3r_0" BEL
        "renderer/c/cl/d4r_3" BEL "renderer/c/cl/d4r_2" BEL
        "renderer/c/cl/d4r_1" BEL "renderer/c/cl/d4r_0" BEL
        "renderer/c/cl/d2r_2" BEL "renderer/c/cl/d2r_1" BEL
        "renderer/c/cl/d2r_0" BEL "renderer/c/color_out_5" BEL
        "renderer/CounterX_10" BEL "renderer/CounterX_9" BEL
        "renderer/CounterX_8" BEL "renderer/CounterX_7" BEL
        "renderer/CounterX_6" BEL "renderer/CounterX_5" BEL
        "renderer/CounterX_4" BEL "renderer/CounterX_3" BEL
        "renderer/CounterX_2" BEL "renderer/CounterX_1" BEL
        "renderer/CounterX_0" BEL "renderer/CounterX_6_1" BEL
        "renderer/CounterX_10_1" BEL "renderer/CounterX_4_1" BEL
        "renderer/CounterX_8_1" BEL "renderer/CounterX_9_1" BEL
        "renderer/CounterX_7_1" BEL "renderer/CounterX_6_2" BEL
        "renderer/CounterX_3_1" BEL "renderer/CounterX_5_1" BEL
        "renderer/CounterX_2_1" BEL "renderer/CounterX_5_2" BEL
        "renderer/CounterX_4_2" BEL "renderer/CounterX_2_2" BEL
        "clk_in_BUFGP/BUFG";
TS_clk_in = PERIOD TIMEGRP "clk_in" 50 MHz HIGH 50%;
SCHEMATIC END;

